@mixin goodsGreed(){
    display: grid;
    grid-template-columns: repeat(3, $thirdWidthSite);
    gap: $gapGreed;
    justify-content: center;
}

@mixin redButtonHoover() {
    background-color: $witeBack;
    color: $colorSelectSite;
}

@mixin whiteButtonHoover() {    
    color: $colorSelectSite;
    border-color: $colorSelectSite;
}