$colorSelectSite: rgba(241, 109, 127, 1);
$widthSite: 1140px;
$backBlock: rgba(34, 34, 36, 1);
$blackText: rgba(0, 0, 0, 1);
$grayText: rgba(93, 93, 93, 1);
$gapGreed: 30px;
$thirdWidthSite: ($widthSite - $gapGreed * 2) / 3;