@mixin goodsGreed() {
    display: grid;
    grid-template-columns: repeat(3, $thirdWidthSite);
    gap: $gapGreed;
    justify-content: center;
}

@mixin goodsItemsFlex() {
    display: flex;
    gap: 10px;
    color: #575757;
    font-weight: 400;
    font-size: 22px;    
}