$colorSelectSite: #F16D7F;
$widthSite: 1140px;
$backBlock: rgba(34, 34, 36, 1);
;


body {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite /2);
    padding-right: calc(50% - $widthSite /2);
}

.header {
    padding-top: 16px;
    padding-bottom: 16px;
    width: $widthSite;
    background-color: $backBlock;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.top-head {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #F8F3F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.top-head-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorSelectSite;
}

.bread-crumbs__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.bread-crumbs__link__site {
    font-weight: 700;
    color: $colorSelectSite;
}