.item {
    height: 600px;
    background-color: grey;
}

.item1 {
    clip-path: circle(300px at 0px 300px);
    background-image: url(8663.jpg);
    background-size: auto;
}

.item2{
    clip-path: ellipse(200px 100px at 20% 30%);
}

.item3{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-image: url(8663.jpg);
    background-size: cover;
}

.item4{
    clip-path: polygon(50% 10%, 12% 100%, 30% 40%, 0% 25%);
}
